root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

[*.go]
indent_style = tab

[Makefile]
indent_style = tab

[*.{js,ts,jsx,tsx,html,css,yaml,yml,json}]
indent_size = 2
